# Archivos innecesarios para las imágenes
_pycache_/
*.pyc
*.pyo
*.pyd
src_frontend/node_modules
src_backend/node_modules
dist
build
.git
.gitignore
.vscode
.env
README.md
notas.text
Dockerfile_backend
Dockerfile_frontend
docker-compose.yml

_pycache_/
.cpython-
db_init/
